body { 
background-color: rgb(211, 205, 216);
}

header {
display: flex;
background-color: rgb(136, 29, 127);
}
footer{
 background-color: rgb(252, 208, 252);   

}

.cabecalho_imagem{
    width: 20px;
    height: 200px;
    border: 50px;
    padding: 20px;
}
  


.cabecalho_menu-lista.{
    margin: 20px;
}

 
.cabecalho_menu-listaitem {
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre_imagem{
width: 400px;
height: 400px;
padding: 20px;
}

.sobre_texto{
    text-align: justify;
}








